.publish-time {
		color: grey;
	}

.destination { 
		color: orange;
		font-family: cursive;
	}
	
.description {
	font-family: bold
}
	
#italy {
	color:red
}

#china {
	color:blue
}

#korea {
	color:green
}

#wyoming {
	color:orange
}
#africa {
	color:pink
}
#bolivia {
	color:brown
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
width="700px" 
height="400px"
}

#chinaimg {
	border-radius: 8px;;
}

