.title {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-family: 'Courier New', monospace;
  color: red
}

img { 
  width: 100%;
  height: auto;
  opacity: 0.3;
}

.author { 
		color: orange;
		font-family: cursive;
	}
	
.heading {
	color: red;
	font-family: bold;
}

.passage {
	background-image: url("paper.gif");
}
