* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page{
	width: 900px;
	margin: auto;
	border: 1px solid red;
}

.publish-time {
	body { 
		color: grey;
	 }
	}

	.destination {
		body { 
		color: orange;
		font-family: fantasy;
	 }
	}
	
