body {
  background-color: #A0522D;
}

.title {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  font-family: Copperplate, Papyrus, fantasy;
  color: red
}

img { 
  width: 100%;
  height: auto;
  opacity: 0.5;
}

.author { 
		color: black;
		font-family: cursive;
	}
	
.heading {
	color: black;
	font-family: bold;
}

.passage {
	color: #F0F8FF;
	font-family: Copperplate, Papyrus, fantasy;
}
