.publish-time {
		color: grey;
	}

.destination { 
		color: orange;
		font-family: cursive;
	}
	
.description {
	font-family: bold
}
	
#italy {
	color:red
}

#china {
	color:blue
}

#korea {
	color:green
}
		
		
