/*F/*Font Style/size-------Positioning amd colors*/ 
body {
background-color: #B0C4DE;}

#intro2{
  display: grid;
  grid-template-columns: auto auto auto;
  
  padding: 40px;
  

  /*position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

#intro2, h1, p{

font-family: 'Trirong', serif;
font-size: 40px
}

#intro3{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 50px;
  }
  
       /*Animimations*/

#hashi_cloud{
  animation-name: slideDown;
  -webkit-animation-name: slideDown;  

  animation-duration: 2s; 
  -webkit-animation-duration: 2s;

  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease;  

  visibility: visible !important;           
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50%{
    transform: translateY(8%);
  }
  65%{
    transform: translateY(-4%);
  }
  80%{
    transform: translateY(4%);
  }
  95%{
    transform: translateY(-2%);
  }     
  100% {
    transform: translateY(0%);
  }   
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  50%{
    -webkit-transform: translateY(8%);
  }
  65%{
    -webkit-transform: translateY(-4%);
  }
  80%{
    -webkit-transform: translateY(4%);
  }
  95%{
    -webkit-transform: translateY(-2%);
  }     
  100% {
    -webkit-transform: translateY(0%);
  } 
}


.bounce{
  animation-name: bounce;
  -webkit-animation-name: bounce; 

  animation-duration: 1.6s; 
  -webkit-animation-duration: 1.6s;

  animation-iteration-count: : 1; 
  -webkit-animation-iteration-count: 1;

  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease;  
  
  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;   
}

@keyframes bounce {
  0% {
    transform: translateY(0%) scaleY(0.6);
  }
  60%{
    transform: translateY(-50%) scaleY(1.1);
  }
  70%{
    transform: translateY(0%) scaleY(0.55) scaleX(1.05);
  }
  80%{
    transform: translateY(0%) scaleY(0.75) scaleX(1);
  } 
  90%{
    transform: translateY(0%) scaleY(0.55) scaleX(1);
  }       
  100%{
    transform: translateY(0%) scaleY(1) scaleX(1);
  } 
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0%) scaleY(0.6);
  }
  60%{
    -webkit-transform: translateY(-50%) scaleY(1.1);
  }
  70%{
    -webkit-transform: translateY(0%) scaleY(0.55) scaleX(1.05);
  }
  80%{
    -webkit-transform: translateY(0%) scaleY(0.75) scaleX(1);
  } 
  90%{
    -webkit-transform: translateY(0%) scaleY(0.55) scaleX(1);
  }       
  100%{
    -webkit-transform: translateY(0%) scaleY(1) scaleX(1);
  }   
}

		.view {
    width: 600px;
    height: 400px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}
.view .mask, .view .content {
    width: 600px;
    height: 400px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative;
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 2em;
    padding: 1em;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 1.5em;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}
.view img { 
    transition: all 0.2s linear;
}
.view .mask {
    opacity: 0;
    background-color: rgba(200,10,5, 0.5); 
    transition: all 0.4s ease-in-out;
}
.view h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view p { 
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s linear;
}
.view a.info{
    opacity: 0;
	transition: all 0.2s ease-in-out;
}
.view:hover img { 
	transform: scale(1.1);
} 
.view:hover .mask { 
	opacity: 1;
}
.view:hover h2,
.view:hover p,
.view:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view:hover p {
    transition-delay: 0.1s;
}
.view:hover a.info {
    transition-delay: 0.2s;
}
